################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/venhaparaoleds-backend/FileContentIndex
/.vs/venhaparaoleds-backend/v17
/.vs/VSWorkspaceState.json
/.vs
/venhaparaoleds-backend-C#/obj/Release/net8.0
